/*OneMoe-UI Lite
  我去你妈的ie我tm为什么把你供着*/

.moe-container {
    padding: 0px 100px;
}

/*tablelets*/
@media only screen and (max-width: 900px) {
    .moe-container {
        padding: 0px 50px;
    }
}

/*mobiles*/
@media only screen and (max-width: 600px) {
    .moe-container {
        padding: 0px 10px;
    }
}



*, *:before, *:after{-webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: inherit;}
body{
  --moe-border-color: rgba(0,0,0,0.54);
  --moe-theme-color: #7878ff;
  --moe-theme-color-text: #eee;
  --moe-switch: #fafafa;
  --moe-layout-text: #333;
  --moe-layout: #ffffff88;
}

@media (prefers-color-scheme: dark) {
body.moe-theme-layout-auto{
  --moe-border-color: rgba(256,256,256,0.54);
  background-color: #222;
  color: #eee;
  --moe-switch: #333;
  --moe-layout-text: #eee;
  --moe-layout: #22222288;
}
}
body.moe-theme-layout-dark{
  --moe-border-color: rgba(256,256,256,0.54);
  background-color: #222;
  color: #eee;
  --moe-switch: #333;
  --moe-layout-text: #eee;
  --moe-layout: #22222288;
}
.moe-theme-color-white{
  --moe-theme-color: #fff;
  --moe-theme-color-text: #333;
}
.moe-theme-color-black{
  --moe-theme-color: #222;
  --moe-theme-color-text: #eee;
}

.moe-theme-color-one{
  --moe-theme-color: #7878ff;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-moe{
  --moe-theme-color: #ff8888;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-red{
  --moe-theme-color: #c32020;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-purple{
  --moe-theme-color: #7c36d1;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-yellow{
  --moe-theme-color: #ffbf00;
  --moe-theme-color-text: #333;
}
.moe-theme-color-blue{
  --moe-theme-color: #456ef7;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-orange{
  --moe-theme-color: #f58300;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-green{
  --moe-theme-color: #4a7a3c;
  --moe-theme-color-text: #eee;
}


.disable {cursor: not-allowed;pointer-events: none;-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.moe-btn{
  color: var(--moe-layout-text)!important;
  font-weight: 450;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  border-radius: 25px;
  border: 2px solid #aaaaaa88;
  padding: 9px 15px;
  min-width: 80px;
  background-color: #00000000;
  box-sizing: border-box;
  font-family: inherit;
  transition:all 0.2s
}
.moe-btn:hover{
  border: 2px solid var(--moe-theme-color);
}
.moe-btn.moe-btn-fill{
  border: 2px solid var(--moe-theme-color);
  background-color: var(--moe-theme-color);
  color: var(--moe-theme-color-text)!important;
}
.moe-input{
  outline: none;
  width:100%;
  border-radius: 15px;
  background-color: #00000000;
  caret-color: #7878ff;
  box-sizing: border-box;
  line-height:15px;
  padding: 10px 10px;
  border: 2px solid #aaa;
}
.moe-input:focus{
  border: 2px solid #7878ff;
}
.moe-alert{
  color: var(--moe-theme-color-text);
  display: block;
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 10px;
  border: noen;
  border-left: 20px solid #00000044;
  padding: 9px 9px;
  min-width: 80px;
  background-color: var(--moe-theme-color);
  box-sizing: border-box;
  font-family: inherit;
}
/*颜色*/
.moe-checkbox input[type="checkbox"]:checked + .moe-checkbox-icon::after {
  background-color: var(--moe-theme-color);
  border-color: var(--moe-theme-color);
}
.moe-checkbox{position:relative;display:inline-block;height:36px;padding-left:36px;line-height:36px}
.moe-checkbox input[type="checkbox"]{position:absolute;opacity:0}
.moe-checkbox-icon{position:absolute;top:9px;left:0px}
.moe-checkbox-icon::after{position:absolute;box-sizing:border-box;width:18px;height:18px;border:2px solid var(--moe-border-color);border-radius:2px;transition:all 0.2s cubic-bezier(0.4,0,0.2,1);content:' '}
.moe-checkbox-icon::before{position:absolute;left:0px;top:2px;z-index:1;box-sizing:border-box;width:8px;height:13px;border-right:2px solid #fff;border-bottom:2px solid #fff;transform:rotateZ(37deg) scale(0);transform-origin:100% 100%;transition:all 0.2s cubic-bezier(0.4,0,0.2,1);content:' '}
.moe-checkbox input[type="checkbox"]:checked + .moe-checkbox-icon::before{transform:rotateZ(37deg) scale(1);opacity:1}

/*颜色*/
.moe-radio-icon::before {
  background-color: var(--moe-theme-color);
}
.moe-radio input[type="radio"]:checked + .moe-radio-icon {
  border-color: var(--moe-theme-color);
}
.moe-radio{position:relative;display:inline-block;height:36px;padding-left:36px;line-height:36px}
.moe-radio input{position:absolute;opacity:0}
.moe-radio-icon{position:absolute;top:9px;left:0;box-sizing:border-box;width:18px;height:18px;border:2px solid var(--moe-border-color);border-radius:25px;transition:all 0.3s cubic-bezier(0.4,0,0.2,1)}
.moe-radio-icon::before{position:absolute;width:14px;height:14px;border-radius:25px;transform:scale(0);opacity:1;transition:all 0.1s cubic-bezier(0.4,0,0.2,1);content:' '}
.moe-radio input[type="radio"]:checked + .moe-radio-icon::before{transform:scale(0.68)}

/*颜色*/
.moe-switch input[type="checkbox"]:checked + .moe-switch-icon {
  background-color:var(--moe-theme-color);
}
.moe-switch{display:inline-block;height:36px;line-height:36px}
.moe-switch input{position:absolute;opacity:0}
.moe-switch-icon{position:relative;display:inline-block;width:50px;height:25px;background-color:var(--moe-border-color);border-radius:15px;transition:background-color 0.3s cubic-bezier(0.4,0,0.2,1)}
.moe-switch-icon::before{position:absolute;top:5px;left:5px;width:15px;height:15px;background-color:var(--moe-switch);border-radius:20px;transition:left 0.2s cubic-bezier(0.4,0,0.2,1);content:' '}
.moe-switch input[type="checkbox"]:checked + .moe-switch-icon::before{left:30px}

.moe-range[type="range"]{border-radius:25px;height:20px;appearance:none;background-color:#00000000;width:100%;overflow:hidden}
.moe-range[type="range"]::-webkit-slider-runnable-track{height:4px;background:#eee;border-radius:25px}
.moe-range[type="range"]::-moz-range-track{height:4px;background:#eee;border-radius:25px}
.moe-range[type="range"]::-webkit-slider-thumb{box-shadow:none;appearance:none;width:20px;height:20px;border-radius:25px;background-color:var(--moe-theme-color);border:1px solid #000000;margin-top:-8px;border-image:linear-gradient(var(--moe-theme-color),var(--moe-theme-color)) 0 fill / 8 20 8 0 / 10px 10px 10px 2000px}
.moe-range[type="range"]::-moz-range-thumb{appearance:none;width:18px;height:18px;border-radius:25px;background-color:var(--moe-theme-color);border:1px solid transparent;margin-top:-8px;border-image:linear-gradient(var(--moe-theme-color),var(--moe-theme-color)) 0 fill / 8 20 8 0 / 10px 10px 10px 2000px}

.moe-progress[value]::-webkit-progress-value{
  background-color:var(--moe-theme-color);
}
.moe-progress::-moz-progress-bar{
  background-color:var(--moe-theme-color);
}
@media (prefers-reduced-motion:no-preference) {.moe-progress:indeterminate {
  background: #eee linear-gradient(to right,var(--moe-theme-color) 30%,#eee 30%) top left/150% 150% no-repeat;
  }
}
.moe-progress{width:100%;height:8px;overflow:hidden;border:0;border-radius:25px;background-color:#eee}
.moe-progress::-webkit-progress-bar{border-radius:25px;background:0 0}
.moe-progress[value]::-webkit-progress-value{background-color:var(--moe-theme-color)}
.moe-progress::-moz-progress-bar{background-color:var(--moe-theme-color)}
@media (prefers-reduced-motion:no-preference){.moe-progress:indeterminate{animation:progressIndeterminate 1s linear infinite}
.moe-progress:indeterminate[value]::-webkit-progress-value{background-color:transparent}
.moe-progress:indeterminate::-moz-progress-bar{background-color:transparent}}
@media (prefers-reduced-motion:no-preference){[	dir=rtl] .moe-progress:indeterminate{animation-direction:reverse}}
@-webkit-keyframes progressIndeterminate{0%{background-position:200% 0}
100%{background-position:-200% 0}}
@keyframes progressIndeterminate{0%{background-position:200% 0}
100%{background-position:-200% 0}}

.moe-loading{
  border: 4px solid var(--moe-theme-color);
  border-top: 4px solid #00000000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  animation: spin 0.7s linear infinite;
}  
@keyframes spin {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}}


.moe-table{overflow:hidden;border-radius:15px;width:stretch;line-height:30px;table-layout:fixed;border-spacing:0;font-size:15px;border:2px solid #88888888;width:100%}
.moe-table th,.moe-table thead td{text-align:left;background-color:#aaaaaa22;border-bottom:1px solid #88888888;font-weight:500;font-style:normal;margin:0}
.moe-table td,.moe-table th{padding:5px 15px}
.moe-table tr:nth-child(even) {background-color: #aaaaaa11;}

.moe-tooltip{position:relative;font-size:14px}
.moe-tooltip::before{z-index:1;opacity:0;word-break:keep-all;white-space:nowrap;content:attr(moe-tip);position:absolute;padding:2px 6px;display:block;background-color:#000000aa;color:#eee;border-radius:5px;font-size:14px;line-height：20px;bottom:110%;left:50%;transform:translateX(-50%);transition:all 0.1s}
.moe-tooltip:hover::before{opacity:1}
.moe-tooltip-bottom::before{bottom:auto;top:110%}
.moe-tooltip-top::before{top:auto;bottom:110%}
.moe-tooltip-left::before{bottom:auto;left:-20%}
.moe-tooltip-right::before{bottom:auto;left:125%}


h1,h2,h3,h4,h5,h6{font-weight:450}
small{opacity:0.6;font-size:80%}
/* 块/段落引用 */
blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 1px solid #1abc9c;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
}

@media only screen and ( max-width: 640px ) {
  blockquote {
    margin: 1em 0;
  }
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
  text-decoration: none;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
  cursor: help;
}

/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}


/* 让链接在 hover 状态下显示下划线 */
.moe-typo a {
  color: var(--moe-theme-color);
}
/* 默认不显示下划线，保持页面简洁 */
ins, a {
  text-decoration: none;
}
.moe-typo u{
  text-decoration: underline;
}

/* 标记，类似于手写的荧光笔的作用 */
.moe-typo mark {
  background: #fffdd1;
  border-bottom: 1px solid #ffedce;
  padding: 2px;
  margin: 0 5px;
}

/* 代码片断 */
pre, code, pre tt {
  font-family: Courier, 'Courier New', monospace;
}

pre {
  background-color: #88888822;
  border-radius: 15px;
  border: 1px solid #88888888;
  padding: 1em 1.5em;
  display: block;
  -webkit-overflow-scrolling: touch;
}

/* 一致化 horizontal rule */
hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.8em;
  height: 10px;
}
strong, b {
  font-weight: blod;
}
code{
  border-radius: 15px;
  padding: 8px 8px;
  background-color: #faa;
  color: #b22;
}
var,em{
  font-style:italic;
}

.moe-card {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid #aaaaaa88;
}
.moe-card-header {
  position: relative;
  box-sizing: border-box;
  height: 72px;
  padding: 16px;
}
/* 卡片头部头像 */
.moe-card-header-avatar {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* 卡片头部标题 */
.moe-card-header-title {
  display: block;
  margin-left: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.87;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 卡片头部副标题 */
.moe-card-header-subtitle {
  display: block;
  margin-left: 52px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.54;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.moe-card-content {
  position: relative;
  padding: 16px;
  font-size: 14px;
  line-height: 24px;
}
.moe-card-content-title {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.87;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 卡片头部副标题 */
.moe-card-content-subtitle {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.54;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.meo-card-content-text{
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.moe-card-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.moe-card-media {
  position: relative;
}
.moe-card-media img,
.moe-card-media video {
  display: block;
  width: 100%;
}
.moe-appbar{
  background-color: var(--moe-layout);
  padding: 0px 18px;
  font-size: 25px;
  line-height: 60px;
  height: 60px;
  border-bottom: 2px solid #aaaaaa88;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  z-index: 1145141919810;

}
.moe-page-with-appbar{
  padding: 60px 0px;
}

.moe-badge{position:relative}
.moe-badge::before{z-index:1;word-break:keep-all;white-space:nowrap;content:attr(moe-badge);position:absolute;padding:2px 6px;display:block;background-color:#c32020;color:#eee;border-radius:25px;font-size:14px;line-height：20px;bottom:70%;right:0px;}

