/*OneMoe-UI Lite
  我去你妈的ie我tm为什么把你供着*/

*, *:before, *:after{-webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: inherit;}
body{
  margin: 0px;
  padding: 0px;
  --moe-border-color: rgba(0,0,0,0.54);
  --moe-theme-color: #7878ff;
  --moe-theme-color-text: #eee;
  --moe-switch: #fafafa;
  --moe-layout-text: #333;
  --moe-layout: #ffffffcc;
}

@media (prefers-color-scheme: dark) {
body.moe-theme-layout-auto{
  --moe-border-color: rgba(256,256,256,0.54);
  background-color: #222;
  color: #eee;
  --moe-switch: #333;
  --moe-layout-text: #eee;
  --moe-layout: #222222cc;
}
}
body.moe-theme-layout-dark{
  --moe-border-color: rgba(256,256,256,0.54);
  background-color: #222;
  color: #eee;
  --moe-switch: #333;
  --moe-layout-text: #eee;
  --moe-layout: #222222cc;
}
.moe-theme-color-white{
  --moe-theme-color: #fff;
  --moe-theme-color-text: #333;
}
.moe-theme-color-black{
  --moe-theme-color: #222;
  --moe-theme-color-text: #eee;
}

.moe-theme-color-one{
  --moe-theme-color: #7878ff;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-moe{
  --moe-theme-color: #ff8888;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-red{
  --moe-theme-color: #c32020;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-purple{
  --moe-theme-color: #7c36d1;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-yellow{
  --moe-theme-color: #ffbf00;
  --moe-theme-color-text: #333;
}
.moe-theme-color-blue{
  --moe-theme-color: #456ef7;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-orange{
  --moe-theme-color: #f58300;
  --moe-theme-color-text: #eee;
}
.moe-theme-color-green{
  --moe-theme-color: #4a7a3c;
  --moe-theme-color-text: #eee;
}


.disable{cursor:not-allowed;pointer-events:none;-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}
.moe-btn{color:var(--moe-layout-text)!important;font-weight:450;text-align:center;display:inline-block;line-height:20px;font-size:14px;border-radius:25px;border:2px solid #aaaaaa88;padding:9px 15px;min-width:80px;background-color:#00000000;box-sizing:border-box;font-family:inherit;transition:all 0.2s}
.moe-btn:hover{border:2px solid var(--moe-theme-color)}
.moe-btn.moe-btn-fill{border:2px solid var(--moe-theme-color);background-color:var(--moe-theme-color);color:var(--moe-theme-color-text)!important}
.moe-input{outline:none;width:100%;border-radius:15px;background-color:#00000000;caret-color:#7878ff;box-sizing:border-box;line-height:15px;padding:10px 10px;border:2px solid #aaaaaa88}
.moe-input:focus{border:2px solid #7878ff}
.moe-alert{color:var(--moe-theme-color-text);display:block;line-height:30px;font-weight:400;font-size:18px;border-radius:10px;border:noen;border-left:20px solid #00000044;padding:9px 9px;min-width:80px;background-color:var(--moe-theme-color);box-sizing:border-box;font-family:inherit}
/*颜色*/
.moe-checkbox input[type="checkbox"]:checked + .moe-checkbox-icon::after {
  background-color: var(--moe-theme-color);
  border-color: var(--moe-theme-color);
}
.moe-checkbox{position:relative;display:inline-block;height:36px;padding-left:36px;line-height:36px}
.moe-checkbox input[type="checkbox"]{position:absolute;opacity:0}
.moe-checkbox-icon{position:absolute;top:9px;left:0px}
.moe-checkbox-icon::after{position:absolute;box-sizing:border-box;width:18px;height:18px;border:2px solid var(--moe-border-color);border-radius:2px;transition:all 0.2s cubic-bezier(0.4,0,0.2,1);content:' '}
.moe-checkbox-icon::before{position:absolute;left:0px;top:2px;z-index:1;box-sizing:border-box;width:8px;height:13px;border-right:2px solid #fff;border-bottom:2px solid #fff;transform:rotateZ(37deg) scale(0);transform-origin:100% 100%;transition:all 0.2s cubic-bezier(0.4,0,0.2,1);content:' '}
.moe-checkbox input[type="checkbox"]:checked + .moe-checkbox-icon::before{transform:rotateZ(37deg) scale(1);opacity:1}

/*颜色*/
.moe-radio-icon::before {
  background-color: var(--moe-theme-color);
}
.moe-radio input[type="radio"]:checked + .moe-radio-icon {
  border-color: var(--moe-theme-color);
}
.moe-radio{position:relative;display:inline-block;height:36px;padding-left:36px;line-height:36px}
.moe-radio input{position:absolute;opacity:0}
.moe-radio-icon{position:absolute;top:9px;left:0;box-sizing:border-box;width:18px;height:18px;border:2px solid var(--moe-border-color);border-radius:25px;transition:all 0.3s cubic-bezier(0.4,0,0.2,1)}
.moe-radio-icon::before{position:absolute;width:14px;height:14px;border-radius:25px;transform:scale(0);opacity:1;transition:all 0.1s cubic-bezier(0.4,0,0.2,1);content:' '}
.moe-radio input[type="radio"]:checked + .moe-radio-icon::before{transform:scale(0.68)}

/*颜色*/
.moe-switch input[type="checkbox"]:checked + .moe-switch-icon {
  background-color:var(--moe-theme-color);
}
.moe-switch{display:inline-block;height:36px;line-height:36px}
.moe-switch input{position:absolute;opacity:0}
.moe-switch-icon{position:relative;display:inline-block;width:50px;height:25px;background-color:var(--moe-border-color);border-radius:15px;transition:background-color 0.3s cubic-bezier(0.4,0,0.2,1)}
.moe-switch-icon::before{position:absolute;top:5px;left:5px;width:15px;height:15px;background-color:var(--moe-switch);border-radius:20px;transition:left 0.2s cubic-bezier(0.4,0,0.2,1);content:' '}
.moe-switch input[type="checkbox"]:checked + .moe-switch-icon::before{left:30px}

.moe-range[type="range"]{border-radius:25px;height:20px;appearance:none;background-color:#00000000;width:100%;overflow:hidden}
.moe-range[type="range"]::-webkit-slider-runnable-track{height:4px;background:#aaaaaa88;border-radius:25px}
.moe-range[type="range"]::-moz-range-track{height:4px;background:#aaaaaa88;border-radius:25px}
.moe-range[type="range"]::-webkit-slider-thumb{box-shadow:none;appearance:none;width:20px;height:20px;border-radius:25px;background-color:var(--moe-theme-color);border:1px solid #000000;margin-top:-8px;border-image:linear-gradient(var(--moe-theme-color),var(--moe-theme-color)) 0 fill / 8 20 8 0 / 10px 10px 10px 2000px}
.moe-range[type="range"]::-moz-range-thumb{appearance:none;width:18px;height:18px;border-radius:25px;background-color:var(--moe-theme-color);border:1px solid transparent;margin-top:-8px;border-image:linear-gradient(var(--moe-theme-color),var(--moe-theme-color)) 0 fill / 8 20 8 0 / 10px 10px 10px 2000px}

.moe-progress[value]::-webkit-progress-value{
  background-color:var(--moe-theme-color);
}
.moe-progress::-moz-progress-bar{
  background-color:var(--moe-theme-color);
}
@media (prefers-reduced-motion:no-preference) {.moe-progress:indeterminate {
  background: #aaaaaa88 linear-gradient(to right,var(--moe-theme-color) 30%,#aaaaaa88 30%) top left/150% 150% no-repeat;
  }
}
.moe-progress{width:100%;height:8px;overflow:hidden;border:0;border-radius:25px;background-color:#aaaaaa88}
.moe-progress::-webkit-progress-bar{border-radius:25px;background:0 0}
.moe-progress[value]::-webkit-progress-value{background-color:var(--moe-theme-color)}
.moe-progress::-moz-progress-bar{background-color:var(--moe-theme-color)}
@media (prefers-reduced-motion:no-preference){.moe-progress:indeterminate{animation:progressIndeterminate 1s linear infinite}
.moe-progress:indeterminate[value]::-webkit-progress-value{background-color:transparent}
.moe-progress:indeterminate::-moz-progress-bar{background-color:transparent}}
@media (prefers-reduced-motion:no-preference){[	dir=rtl] .moe-progress:indeterminate{animation-direction:reverse}}
@-webkit-keyframes progressIndeterminate{0%{background-position:200% 0}
100%{background-position:-200% 0}}
@keyframes progressIndeterminate{0%{background-position:200% 0}
100%{background-position:-200% 0}}

.moe-loading{
  border: 4px solid var(--moe-theme-color);
  border-top: 4px solid #00000000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  animation: spin 0.7s linear infinite;
}  
@keyframes spin {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}}

.moe-typo table,.moe-table{overflow:hidden;border-radius:15px;width:stretch;line-height:30px;table-layout:fixed;border-spacing:0;font-size:15px;border:2px solid #88888888;width:100%}
.moe-typo th,.moe-table th,.moe-table thead td,.moe-typo thead td{text-align:left;background-color:#aaaaaa22;border-bottom:1px solid #88888888;font-style:normal;margin:0;}
.moe-typo th,.moe-typo td,.moe-table td,.moe-table th{padding:5px 15px;font-weight:400!important}
.moe-typo tr:nth-child(even),.moe-table tr:nth-child(even){background-color:#aaaaaa11}
.moe-tooltip{position:relative;font-size:14px}
.moe-tooltip::before{z-index:1;opacity:0;word-break:keep-all;white-space:nowrap;content:attr(moe-tip);position:absolute;padding:2px 6px;display:block;background-color:#000000aa;color:#eee;border-radius:5px;font-size:14px;line-height：20px;bottom:110%;left:50%;transform:translateX(-50%);transition:all 0.1s}
.moe-tooltip:hover::before{opacity:1}
.moe-tooltip-bottom::before{bottom:auto;top:110%}
.moe-tooltip-top::before{top:auto;bottom:110%}
.moe-tooltip-left::before{bottom:auto;left:-20%}
.moe-tooltip-right::before{bottom:auto;left:125%}
h1,h2,h3,h4,h5,h6{font-weight:450}
small{opacity:0.6;font-size:80%}
blockquote{position:relative;color:#999;font-weight:400;border-left:2px solid #aaaaaa88;padding-left:1em;margin:1em 3em 1em 2em}
@media only screen and ( max-width:640px ){blockquote{margin:1em 0}
}acronym,abbr{border-bottom:1px dotted;font-variant:normal;text-decoration:none}
abbr{cursor:help}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
.moe-typo a{color:var(--moe-theme-color)}
ins,a{text-decoration:none}
.moe-typo u{text-decoration:underline}
.moe-typo mark{background:#fffdd1;border-bottom:2px solid #f5830088;padding:2px;margin:0 5px}
pre,code,pre tt{font-family:Courier,'Courier New',monospace}
pre{background-color:#88888822;border-radius:15px;border:1px solid #88888888;padding:1em 1.5em;display:block;-webkit-overflow-scrolling:touch}
hr{border:none;border-bottom:1px solid #aaaaaa88;margin-bottom:0.8em;height:10px}
strong,b{font-weight:blod}
.moe-typo code{border-radius:10px;padding:3px 8px;background-color:#faa;color:#b22;border:1px solid #f66}
var,em{font-style:italic}
.moe-card{color:var(--moe-layout-text)!important;position:relative;box-sizing:border-box;overflow:hidden;border-radius:15px;border:2px solid #aaaaaa88}
.moe-card-header{position:relative;box-sizing:border-box;height:72px;padding:16px}
.moe-card-header-avatar{float:left;width:40px;height:40px;border-radius:50%}
.moe-card-header-title{color:var(--moe-layout-text)!important;display:block;margin-left:52px;font-weight:500;font-size:16px;line-height:20px;opacity:0.87;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.moe-card-header-subtitle{color:var(--moe-layout-text)!important;display:block;margin-left:52px;font-weight:400;font-size:14px;line-height:20px;opacity:0.54;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.moe-card-content{position:relative;padding:16px;font-size:14px;line-height:24px}
.moe-card-content-title{color:var(--moe-layout-text)!important;display:block;font-weight:500;font-size:20px;line-height:20px;opacity:0.87;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.moe-card-content-subtitle{color:var(--moe-layout-text)!important;display:block;font-weight:400;font-size:14px;line-height:20px;opacity:0.54;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.meo-card-content-text{color:var(--moe-layout-text)!important;display:block;font-weight:400;font-size:14px;line-height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.moe-card-menu{position:absolute;top:16px;right:16px;z-index:1}
.moe-card-media{position:relative}
.moe-card-media img,.moe-card-media video{display:block;width:100%}
.moe-appbar{background-color:var(--moe-layout);padding:0px 18px;font-size:25px;line-height:60px;height:60px;border-bottom:2px solid #aaaaaa44;width:100%;position:fixed;left:0px;top:0px;box-sizing:border-box;z-index:1145141919810}
.moe-page-with-appbar{padding:60px 0px}
.moe-badge{position:relative}
.moe-badge::before{z-index:1;word-break:keep-all;white-space:nowrap;content:attr(moe-badge);position:absolute;padding:2px 6px;display:block;background-color:#c32020;color:#eee;border-radius:25px;font-size:14px;line-height：20px;bottom:70%;right:0px}

.moe-shadow-0{box-shadow:none!important}
.moe-shadow-1{box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important}
.moe-shadow-2{box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important}
.moe-shadow-3{box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important}
.moe-shadow-4{box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important}
.moe-shadow-5{box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)!important}
.moe-shadow-6{box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)!important}
.moe-shadow-7{box-shadow:0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12)!important}
.moe-shadow-8{box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important}
.moe-shadow-9{box-shadow:0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12)!important}
.moe-shadow-10{box-shadow:0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)!important}
.moe-hoverable{transition:box-shadow .25s cubic-bezier(.4,0,.2,1);will-change:box-shadow}
.moe-hoverable:focus,.moe-hoverable:hover{box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important}

.moe-container,.moe-container-fluid{box-sizing:border-box;margin-right:auto;margin-left:auto;padding-right:8px;padding-left:8px;}.moe-container::after,.moe-container-fluid::after{display:table;clear:both;content:'';}.moe-container{width:96%;max-width:1280px;}@media (min-width:600px){.moe-container{width:94%;}}@media (min-width:1024px){.moe-container{width:92%;}}.moe-row,[class*="moe-row-"]{margin-right:-8px;margin-left:-8px;}.moe-row::after,[class*="moe-row-"]::after{display:table;clear:both;content:'';}[class*="moe-col-xs-"],[class*="moe-col-sm-"],[class*="moe-col-md-"],[class*="moe-col-lg-"],[class*="moe-col-xl-"],.moe-col{position:relative;box-sizing:border-box;min-height:1px;padding-right:8px;padding-left:8px;padding-top:8px;padding-bottom:8px;}.moe-row-gapless .moe-col,.moe-row-gapless [class*="moe-col-xs-"],.moe-row-gapless [class*="moe-col-sm-"],.moe-row-gapless [class*="moe-col-md-"],.moe-row-gapless [class*="moe-col-lg-"],.moe-row-gapless [class*="moe-col-xl-"]{padding-right:0;padding-left:0;padding-top:0px;padding-bottom:0px;}.moe-row-gapless .moe-row,.moe-row-gapless [class*="moe-row-"]{margin-right:0;margin-left:0;}.moe-col-xs-1{float:left;width:8.333333%;}.moe-col-offset-xs-1{margin-left:8.333333%;}.moe-row-xs-1 .moe-col{float:left;width:100%;}.moe-col-xs-2{float:left;width:16.666667%;}.moe-col-offset-xs-2{margin-left:16.666667%;}.moe-row-xs-2 .moe-col{float:left;width:50%;}.moe-col-xs-3{float:left;width:25%;}.moe-col-offset-xs-3{margin-left:25%;}.moe-row-xs-3 .moe-col{float:left;width:33.333333%;}.moe-col-xs-4{float:left;width:33.333333%;}.moe-col-offset-xs-4{margin-left:33.333333%;}.moe-row-xs-4 .moe-col{float:left;width:25%;}.moe-col-xs-5{float:left;width:41.666667%;}.moe-col-offset-xs-5{margin-left:41.666667%;}.moe-row-xs-5 .moe-col{float:left;width:20%;}.moe-col-xs-6{float:left;width:50%;}.moe-col-offset-xs-6{margin-left:50%;}.moe-row-xs-6 .moe-col{float:left;width:16.666667%;}.moe-col-xs-7{float:left;width:58.333333%;}.moe-col-offset-xs-7{margin-left:58.333333%;}.moe-row-xs-7 .moe-col{float:left;width:14.285714%;}.moe-col-xs-8{float:left;width:66.666667%;}.moe-col-offset-xs-8{margin-left:66.666667%;}.moe-row-xs-8 .moe-col{float:left;width:12.5%;}.moe-col-xs-9{float:left;width:75%;}.moe-col-offset-xs-9{margin-left:75%;}.moe-row-xs-9 .moe-col{float:left;width:11.111111%;}.moe-col-xs-10{float:left;width:83.333333%;}.moe-col-offset-xs-10{margin-left:83.333333%;}.moe-row-xs-10 .moe-col{float:left;width:10%;}.moe-col-xs-11{float:left;width:91.666667%;}.moe-col-offset-xs-11{margin-left:91.666667%;}.moe-row-xs-11 .moe-col{float:left;width:9.090909%;}.moe-col-xs-12{float:left;width:100%;}.moe-col-offset-xs-12{margin-left:100%;}.moe-row-xs-12 .moe-col{float:left;width:8.333333%;}@media (min-width:600px){.moe-col-sm-1{float:left;width:8.333333%;}.moe-col-offset-sm-1{margin-left:8.333333%;}.moe-row-sm-1 .moe-col{float:left;width:100%;}.moe-col-sm-2{float:left;width:16.666667%;}.moe-col-offset-sm-2{margin-left:16.666667%;}.moe-row-sm-2 .moe-col{float:left;width:50%;}.moe-col-sm-3{float:left;width:25%;}.moe-col-offset-sm-3{margin-left:25%;}.moe-row-sm-3 .moe-col{float:left;width:33.333333%;}.moe-col-sm-4{float:left;width:33.333333%;}.moe-col-offset-sm-4{margin-left:33.333333%;}.moe-row-sm-4 .moe-col{float:left;width:25%;}.moe-col-sm-5{float:left;width:41.666667%;}.moe-col-offset-sm-5{margin-left:41.666667%;}.moe-row-sm-5 .moe-col{float:left;width:20%;}.moe-col-sm-6{float:left;width:50%;}.moe-col-offset-sm-6{margin-left:50%;}.moe-row-sm-6 .moe-col{float:left;width:16.666667%;}.moe-col-sm-7{float:left;width:58.333333%;}.moe-col-offset-sm-7{margin-left:58.333333%;}.moe-row-sm-7 .moe-col{float:left;width:14.285714%;}.moe-col-sm-8{float:left;width:66.666667%;}.moe-col-offset-sm-8{margin-left:66.666667%;}.moe-row-sm-8 .moe-col{float:left;width:12.5%;}.moe-col-sm-9{float:left;width:75%;}}@media (min-width:1024px){.moe-col-md-1{float:left;width:8.333333%;}.moe-col-offset-md-1{margin-left:8.333333%;}.moe-row-md-1 .moe-col{float:left;width:100%;}.moe-col-md-2{float:left;width:16.666667%;}.moe-col-offset-md-2{margin-left:16.666667%;}.moe-row-md-2 .moe-col{float:left;width:50%;}.moe-col-md-3{float:left;width:25%;}.moe-col-offset-md-3{margin-left:25%;}.moe-row-md-3 .moe-col{float:left;width:33.333333%;}.moe-col-md-4{float:left;width:33.333333%;}.moe-col-offset-md-4{margin-left:33.333333%;}.moe-row-md-4 .moe-col{float:left;width:25%;}.moe-col-md-5{float:left;width:41.666667%;}.moe-col-offset-md-5{margin-left:41.666667%;}.moe-row-md-5 .moe-col{float:left;width:20%;}.moe-col-md-6{float:left;width:50%;}.moe-col-offset-md-6{margin-left:50%;}.moe-row-md-6 .moe-col{float:left;width:16.666667%;}.moe-col-md-7{float:left;width:58.333333%;}.moe-col-offset-md-7{margin-left:58.333333%;}.moe-row-md-7 .moe-col{float:left;width:14.285714%;}.moe-col-md-8{float:left;width:66.666667%;}.moe-col-offset-md-8{margin-left:66.666667%;}.moe-row-md-8 .moe-col{float:left;width:12.5%;}}@media (min-width:1440px){.moe-col-lg-1{float:left;width:8.333333%;}.moe-col-offset-lg-1{margin-left:8.333333%;}.moe-row-lg-1 .moe-col{float:left;width:100%;}.moe-col-lg-2{float:left;width:16.666667%;}.moe-col-offset-lg-2{margin-left:16.666667%;}.moe-row-lg-2 .moe-col{float:left;width:50%;}.moe-col-lg-3{float:left;width:25%;}.moe-col-offset-lg-3{margin-left:25%;}.moe-row-lg-3 .moe-col{float:left;width:33.333333%;}.moe-col-lg-4{float:left;width:33.333333%;}.moe-col-offset-lg-4{margin-left:33.333333%;}.moe-row-lg-4 .moe-col{float:left;width:25%;}.moe-col-lg-5{float:left;width:41.666667%;}.moe-col-offset-lg-5{margin-left:41.666667%;}.moe-row-lg-5 .moe-col{float:left;width:20%;}.moe-col-lg-6{float:left;width:50%;}.moe-col-offset-lg-6{margin-left:50%;}.moe-row-lg-6 .moe-col{float:left;width:16.666667%;}.moe-col-lg-7{float:left;width:58.333333%;}.moe-col-offset-lg-7{margin-left:58.333333%;}.moe-row-lg-7 .moe-col{float:left;width:14.285714%;}.moe-col-lg-8{float:left;width:66.666667%;}.moe-col-offset-lg-8{margin-left:66.666667%;}.moe-row-lg-8 .moe-col{float:left;width:12.5%;}}@media (min-width:1920px){.moe-col-xl-1{float:left;width:8.333333%;}.moe-col-offset-xl-1{margin-left:8.333333%;}.moe-row-xl-1 .moe-col{float:left;width:100%;}.moe-col-xl-2{float:left;width:16.666667%;}.moe-col-offset-xl-2{margin-left:16.666667%;}.moe-row-xl-2 .moe-col{float:left;width:50%;}.moe-col-xl-3{float:left;width:25%;}.moe-col-offset-xl-3{margin-left:25%;}.moe-row-xl-3 .moe-col{float:left;width:33.333333%;}.moe-col-xl-4{float:left;width:33.333333%;}.moe-col-offset-xl-4{margin-left:33.333333%;}.moe-row-xl-4 .moe-col{float:left;width:25%;}.moe-col-xl-5{float:left;width:41.666667%;}.moe-col-offset-xl-5{margin-left:41.666667%;}.moe-row-xl-5 .moe-col{float:left;width:20%;}.moe-col-xl-6{float:left;width:50%;}.moe-col-offset-xl-6{margin-left:50%;}.moe-row-xl-6 .moe-col{float:left;width:16.666667%;}.moe-col-xl-7{float:left;width:58.333333%;}.moe-col-offset-xl-7{margin-left:58.333333%;}.moe-row-xl-7 .moe-col{float:left;width:14.285714%;}.moe-col-xl-8{float:left;width:66.666667%;}.moe-col-offset-xl-8{margin-left:66.666667%;}.moe-row-xl-8 .moe-col{float:left;width:12.5%;}}

.moe-icon,
.moe-icon::before {
  line-height: 1;
  text-transform: none;
  vertical-align: middle;
  padding: 5px 5px;
}
.moe-icon {
  text-align: center;
}
